<!DOCTYPE html>
  <html lang="en">
    <title>MYXR</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
    .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
    .fa-anchor,.fa-coffee {font-size:200px}
    li{
      list-style-type: none;
      display:inline-block;
    }
    .column {
      float: left;
      width: 33.33%;
      padding: 10px;
    }

    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    button {
      background-color: #2ECCFA;
      border: none;
      color: black;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 16px;
    }

    @media screen and (max-width: 800px) {
        .column{
        width: 100%
        }
      }
    </style>
    <body>

    <!-- Navbar -->
    <div class="w3-top">
      <div class="w3-bar w3-red w3-card w3-left-align w3-large">
        <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
      </div>

      <!-- Navbar on small screens -->
      <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
        <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 4</a>
      </div>
    </div>
    <!-- Header -->
    <header class="w3-container w3-center  w3-red" style="padding:128px 16px">
      <h1 class="w3-margin w3-jumbo" >MYXR!</h1>
      <p class="w3-xlarge" >WANNA GET MIXING!!</p>
      <a href="#GetMixing"><button class="w3-button w3-black w3-padding-large w3-large w3-margin-top" >Get Started</button></a><br>
      <p class="w3-xlarge">THE BUTTON BELOW WILL MAKE YOUR MIX!!</p>
      <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top" onclick="makePost()" >MIX MY DRINK</button>
    </header>

    <!-- First Grid -->
    <div id="GetMixing"  class="w3-row-padding w3-padding-64 w3-container">

          <div class="row">
            <p id="demo"></p>
              <div class="column ">
          <h2>What you drinking?</h2>
          <ul id="myMenu">
            <li><button onclick="addToSearch('Vodka')" >Vodka</button></li>
            <li><button onclick="addToSearch('Rum')" >Rum</button></li>
            <li><button onclick="addToSearch('Whiskey')" >Whiskey</button></li>
            <li><button onclick="addToSearch('Gin')" >Gin</button></li>
            <li><button onclick="addToSearch('Tequilla')" >Tequilla</button></li>
            <li><button onclick="addToSearch('Peach Schnapps')" >Peach Schnapps</button></li>
            <li><button onclick="addToSearch('Coconut Rum')" >Coconut Rum</button></li>
            <li><button onclick="addToSearch('Spiced Rum')" >Spiced Rum</button></li>
            <li><button onclick="addToSearch('Light Rum')" >Light Rum</button></li>
            <li><button onclick="addToSearch('Dry Gin')" >Dry Gin</button></li>
            <li><button onclick="addToSearch('Cherry Whiskey')" >Cherry Whiskey</button></li>
            <li><button onclick="addToSearch('Irish Whiskey')" >Irish Whiskey</button></li>
            <li><button onclick="addToSearch('coffee Liquor')" >Coffee Liquor</button></li>
            <li><button onclick="addToSearch('orange Liquor')" >Orange Liquor</button></li>
            <li><button onclick="addToSearch('Cream de cacao')" >Cream de cacao</button></li>
            <li><button onclick="addToSearch('Cherry Brandy')" >Cherry Brandy</button></li>
            <li><button onclick="addToSearch('Dry Vermouth')" >Dry vermouth</button></li>
            <li><button onclick="addToSearch('Violet Flower Liquor')" >Violet flower Liquor</button></li>
            <li><button onclick="addToSearch('Maraschino')" >Maraschino</button></li>
            <li><button onclick="addToSearch('Elder Flower Liquor')" >Elder Flower Liqour</button></li>
            <li><button onclick="addToSearch('Dark Rum')" >Dark Rum</button></li>
          </ul>
        </div>
        <div class="column">
        <h2>What you are Juicing?</h2>
        <ul id="myMenu">
          <li><button onclick="addToSearch('Pineapple juice')" >Pineapple</button></li>
          <li><button onclick="addToSearch('Orange juice')" >Orange</button></li>
          <li><button onclick="addToSearch('Tomato juice')" >Tomato</button></li>
          <li><button onclick="addToSearch('Lime juice')" >Lime</button></li>
          <li><button onclick="addToSearch('Lemon juice')" >Lemon</button></li>
          <li><button onclick="addToSearch('Grapefruit juice')" >Grapefruit</button></li>
          <li><button onclick="addToSearch('Cranberry juice')" >Cranberry</button></li>
        </ul>
        </div>
        <div class="column">
            <h2>    Feeling Fizzy?</h2>
                <ul id="myMenu">
                  <li><button onclick="addToSearch('Club Soda')" >Club Soda</button></li>
                  <li><button onclick="addToSearch('Cola')" >Cola</button></li>
                  <li><button onclick="addToSearch('Ginger Beer')" >Ginger Beer</button></li>
                  <li><button onclick="addToSearch('Ginger Ale')" >Ginger Ale</button></li>
                  <li><button onclick="addToSearch('Rootbeer')" >Rootbeer</button></li>
                </ul>

        </div>
      </div>
    </div>

    <div id="recipes" class="row w3-border w3-blue">

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript">
    var alcohols = [];
    // Used to toggle the menu on small screens when clicking on the menu button
    function myFunction() {
      var x = document.getElementById("navDemo");
      if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
      } else {
        x.className = x.className.replace(" w3-show", "");
      }
    }

    function drink_search() {
      var input, filter, ul, li, a, i;
      input = document.getElementById("mySearch");
      filter = input.value.toUpperCase();
      ul = document.getElementById("myMenu");
      li = ul.getElementsByTagName("li");
      for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
          li[i].style.display = "";
        } else {
          li[i].style.display = "none";
        }
      }
    }

    function addToSearch(x) {
      alcohols.push(x.toLowerCase());
      var btn = document.createElement("BUTTON");
      btn.onclick = function(){
        console.log(alcohols);
        var index = alcohols.indexOf(x.toLowerCase());
        if (index > -1) {
          alcohols.splice(index, 1);
        }
          console.log(alcohols);
          this.parentElement.removeChild(this);};
      btn.setAttribute("value",x);
      var t = document.createTextNode(x);
      btn.appendChild(t);
      document.getElementById("demo").appendChild(btn);
    }

function makePost() {
  var httpRequest = new XMLHttpRequest();

  if (!httpRequest) {
    alert('Giving up :( Cannot create an XMLHTTP instance');
    return false;
  }

  var txt = "";
  httpRequest.onreadystatechange = function(){
    if(httpRequest.readyState === XMLHttpRequest.DONE){
      if(httpRequest.status === 200){
        var myResponse = JSON.parse(httpRequest.responseText); 
        txt += "<table border='1'";
        for(var i = 0; i < myResponse.length; i++){
          txt += "<tr>";
          var row = myResponse[i];
          for(var x = 0; x < row.length; x++){
            txt += "<td>" + row[x] + "</td>";
          }
          txt += "</tr>";
        }
        txt += "</table>";
        document.getElementById("recipes").innerHTML = txt;
      }
      else{
        alert("Something went wrong.");
      }
    }
  }

  httpRequest.open("POST", "/new_item/");
  httpRequest.setRequestHeader('Content-Type', 'application/json');

  httpRequest.send(JSON.stringify(alcohols));
}

    </script>

  </body>
</html>
